// -----------------------------------------------------------------
// Variable and Rule set base
// -----------------------------------------------------------------

$base-font-size: 16px !default;
html { font-size: $base-font-size; }
* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}


// -----------------------------------------------------------------
// Map breakpoint
// -----------------------------------------------------------------

$breakpoints: (
    'palm': (min-width: 400px),
    'tab': (min-width: 768px),
    'lap': (min-width: 1000px),
    'desk': (min-width: 1200px),
    'below-palm': (max-width: 399px),
    'below-tab': (max-width: 767px),
    'below-lap': (max-width: 999px),
    'below-desk': (max-width: 1199px)
) !default;


// ==========================================================================
// Mixin media query
// ==========================================================================

@mixin media-query($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media only screen and #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}


// -----------------------------------------------------------------
// Variable grid
// -----------------------------------------------------------------

$grid-max-width: 1200px !default;
$grid-column: 12 !default;
$grid-gutter: 14px !default;


// ==========================================================================
// Mixin grid system
// ==========================================================================

@mixin grid-container($max-width: $grid-max-width) {
    width: 100%;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
}

@mixin grid-row() {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0 !important;
}

@mixin grid-gutter($selector, $value: $grid-gutter) {
    @if $selector == row {
        margin-right: - $value;
        margin-left: - $value;
    }
    @else if $selector == column {
        padding-right: $value;
        padding-left: $value;
    }
}

@mixin grid-base($column: $grid-column, $columns: $grid-column, $vertical-align: top) {
    display: inline-block;
    width: percentage($column / $columns);
    font-size: 1rem;
    vertical-align: $vertical-align;
}

@mixin grid-column($column: $grid-column, $columns: $grid-column, $vertical-align: null) {
    width: percentage($column / $columns);
    vertical-align: $vertical-align;
}

@mixin grid-shift($shift, $value, $columns: $grid-column) {
    @if $shift == push {
        position: relative;
        left: percentage($value / $columns);
    }
    @else if $shift == pull {
        position: relative;
        right: percentage($value / $columns);
    }
}